.choose-course .name-course i {
  margin-right: 5px;
  transition: all 0.2s linear;
}

.title-2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: right;
}

.why-choose-us .why-choose-us-wrapper-top .why-choose-us-wrapper p {
  color: #d1d8eb;
  line-height: 25px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: right;
}

.edugate-content {
  display: table-cell;
  vertical-align: top;
  text-align: right;
}
/* Add this class to make the direction of an element RTL */
.direction {
  direction: rtl;
}

@media screen and (max-width: 480px) {
  blockquote {
    padding-left: 10px;
    margin: 20px 20px 10px 20px;
  }
}

blockquote:before {
  position: absolute;
  content: '\f10e';
  font-family: 'FontAwesome';
  top: 5px;
  right: 0;
  font-size: 30px;
  color: #90a1ae;
}

blockquote .main-quote {
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  padding-right: 35px;
}

.underline {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
  color: #49575f;
  direction: rtl;
  margin-top: 10px;
}

.accordion .panel.active .panel-heading .panel-title a:after {
  font-family: Fontawesome;
  content: '\f068';
  position: absolute;
  top: 0;
  left: 30px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  direction: rtl;
}

.accordion .panel-heading .panel-title a:after {
  font-family: Fontawesome;
  content: '\f067';
  position: absolute;
  top: 0;
  right: 12px;
}

.accordion .panel.active .panel-heading .panel-title a:after {
  font-family: Fontawesome;
  content: '\f068';
  position: absolute;
  top: 0;
  right: 12px;
}

.contact-form {
  direction: rtl;
}

.edu-feature .edu-feature-text {
  text-align: right;
  margin-bottom: 30px;
}
